.swagger-ui .topbar {
  background-color: #2c3e50;
}

.swagger-ui .info .title {
  color: #2c3e50;
  font-size: 36px;
}

.swagger-ui .opblock-tag {
  font-size: 24px;
  color: #2c3e50;
}

.swagger-ui .opblock .opblock-summary-method {
  background-color: #3498db;
}

.swagger-ui .btn.execute {
  background-color: #2ecc71;
}

.swagger-ui .btn.authorize {
  background-color: #e74c3c;
  color: white;
}

.swagger-ui section.models {
  border-color: #3498db;
}

.swagger-ui .model-title {
  color: #2c3e50;
} 